In [ ]:
# Declaring and assigning variables 
age = 49 
height = 6.1
name = "Krishna"
is_student =True

# printing the variable 
print("Age :",age)
print("height :",height)
print("name :",name)

Age : 49
height : 6.1
name : Krishna

In [4]:
## Naming Convention 
# 1. must always start with a letther or an _underscore
# 2. can contain letters or number or _ 
# 3. variable are case sensitive 
# 4. must be descriptive 

# valid variable
firts_name = "Faisudeen"
last_name = "Sebiotimo"

# Invalid variable 
# 2age = 12 
# first-name= "ShebbyLee" hyphen not accepted

In [6]:
# Variables are case sensitive 
name = "Lanre"
Name = "Faisu"
name == Name  ## False

False

In [4]:
## Understanding Python variable 
# 1. pythom is dynamicallt typed, the type of variables is determined at runtime
age = 25  # int
height = 6.1  # float
name = "Shebby" # string
is_student = True #boolean

print(type(age))

<class 'int'>

In [14]:
# Type Checking and Conversion

type(height)
type(name)

age = 25 
age_str = str(age)
print(type(age))
print(type(age_str))
print(age_str)

<class 'int'>
<class 'str'>
25

In [19]:
# Type casting cont

height = 6.0

print(type(height))
print(type(int(height)))
print(type(height))

<class 'float'>
<class 'int'>
<class 'float'>

In [22]:
# Dynamic Typing 
# python allows the type to change as the program executes 
var = 10  #int
print(var,type(var))

var = "faisu"
print(var,type(var))

var = True 
print(var,type(var))

10 <class 'int'>
faisu <class 'str'>
True <class 'bool'>

In [26]:
# input
age = int(input("What is My Age"))
print(age,type(age))

34 <class 'int'>

In [ ]:
## simple calculator 

numb1 = float(input("Enter Your First Number"))
numb2 = float(input("Enter Your Second Number"))

sum = numb1 + numb2
difference = numb1 - numb2
product = numb1 * numb2
quotient = round(numb1/numb2,2)
gap = "---------------------------------------"

print("First Number", numb1)
print("Second Number", numb2)
print(gap)

print("Sum",sum)
print("difference",difference)
print("product",product)
print("quotient",quotient)

First Number 206.9
Second Number 214.9
---------------------------------------------------------------------------------------------------
Sum 421.8
difference -8.0
product 44462.810000000005
quotient 0.96